PORT=10400

DB_DRIVER=oracle.jdbc.OracleDriver
DB_URL=
DB_USERNAME=
DB_PASSWORD=

BREVO_API_KEY=
BREVO_SENDER_EMAIL=
BREVO_SENDER_NAME=GreenCarry

TOSS_SECRET_KEY=

NAVER_GEOCODE_CLIENT_ID=
NAVER_GEOCODE_CLIENT_SECRET=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
