<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.admin.model.dao.ProductCarbonDao">

    <select id="selectAllCarbon" resultType="kr.co.iei.admin.model.vo.ProductCarbon">
        select
            product_id,
            product_material,
            product_emissions,
            product_desc,
            product_img
        from carbon_definition_tbl
        ORDER BY 1
    </select>

    <insert id="insertCarbonProduct">
    INSERT INTO CARBON_DEFINITION_TBL (
        PRODUCT_ID, PRODUCT_MATERIAL,
        PRODUCT_EMISSIONS,
        PRODUCT_IMG,
        PRODUCT_DESC
    )
    VALUES (
        PRODUCT_SEQ.NEXTVAL, 
        #{product.productMaterial},
        #{product.productEmissions},
        #{product.productImg, jdbcType=VARCHAR},
        #{product.productDesc, jdbcType=VARCHAR}  )
</insert>

<update id="updateCarbonProduct">
    update
    		carbon_definition_tbl
    	set
    		product_material = #{product.productMaterial},
        	product_emissions = #{product.productEmissions},
        	product_desc = #{product.productDesc}
        <if test="product.productImg != null">
            , product_img = #{product.productImg}
        </if>
    where product_id = #{product.productId} </update>

    <delete id="deleteCarbon" parameterType="java.lang.Integer">
        delete FROM carbon_definition_tbl 
        where product_id = #{productId}
    </delete>

</mapper>