<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="kr.co.iei.container.model.dao.ContainerDao">

    <insert id="insertContainer">
        INSERT INTO CARBON_DEFINITION_TBL (PRODUCT_ID,
                                           PRODUCT_MATERIAL,
                                           PRODUCT_EMISSIONS,
                                           PRODUCT_DESC,
                                           PRODUCT_IMG)
        VALUES ((SELECT NVL(MAX(PRODUCT_ID), 0) + 1 FROM CARBON_DEFINITION_TBL),
                #{productName},
                #{productEmissions},
                #{productDesc},
                #{productImg})
    </insert>

</mapper>