<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.co.iei.cs.model.dao.CSDao">

    <select id="selectAllList" resultType="faq">
        SELECT * FROM faq_tbl
        <where>
            <if test="faqCategory != null and faqCategory != 0">
                AND faq_category = #{faqCategory}
            </if>

            <if test="searchKeyword != null and searchKeyword != ''">
                AND (
                faq_title LIKE '%' || #{searchKeyword} || '%'
                OR faq_content LIKE '%' || #{searchKeyword} || '%'
                )
            </if>
        </where>
        ORDER BY faq_no ASC
    </select>

    <select id="selectMyInquiry" resultType="qna">
        SELECT 
	        Q.QNA_NO,
	        Q.MEMBER_ID,
	        Q.QNA_TITLE,
	        Q.QNA_CONTENT,
	        Q.QNA_ANSWER,
	        Q.QNA_STATUS,
	        Q.QNA_DATE,
	        M.MEMBER_GRADE  FROM QNA_TBL Q
  		JOIN MEMBER_TBL M ON Q.MEMBER_ID = M.MEMBER_ID
        <if test="memberId != null">
      		WHERE Q.MEMBER_ID = #{memberId}
    	</if>
   		ORDER BY Q.QNA_NO DESC
    </select>

    <insert id="insertQna">
        insert into qna_tbl
        values (qna_tbl_seq.nextval,
                #{memberId},
                #{qnaTitle},
                #{qnaContent},
                null,
                0,
                sysdate)
    </insert>

    <delete id="deleteInquiry">
        delete
        from qna_tbl
        where qna_no = #{qnaNo}
    </delete>

    <update id="putInquiry">
        update qna_tbl
        set qna_title=#{qnaTitle},
            qna_content=#{qnaContent},
            qna_date = sysdate
        where qna_no = #{qnaNo}
    </update>

    <update id="updateAnswer">
        update qna_tbl
        set qna_answer = #{qnaAnswer},
            qna_status = 1
        where qna_no = #{qnaNo}

    </update>

	<select id="selectAllListManagerFaq" resultType="faqManager">
        SELECT * FROM faq_Manager_tbl
        <where>
            <if test="faqCategory != null and faqCategory != 0">
                AND faq_category = #{faqCategory}
            </if>

            <if test="searchKeyword != null and searchKeyword != ''">
                AND (
                faq_title LIKE '%' || #{searchKeyword} || '%'
                OR faq_content LIKE '%' || #{searchKeyword} || '%'
                )
            </if>
        </where>
        ORDER BY faq_no ASC
    </select>
	
	<select id="getMemberIdByQnaId">
		select member_id from qna_tbl where qna_no = #{qnaNo}
	</select>
</mapper>
