<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="kr.co.iei.store.model.dao.ManagerDao">
	<select id="selectAllContainers" resultType="container">
		select *
		from carbon_definition_tbl
	</select>

	<select id="selectOptionsByMenuId" parameterType="long"
		resultType="menuOption">
		SELECT o.option_no AS optionNo,
		o.option_type AS optionType,
		o.option_name AS optionName,
		o.option_price AS optionPrice,
		o.option_carbon AS optionCarbon
		FROM menu_option_map m
		JOIN option_tbl o ON m.option_no = o.option_no
		WHERE m.menu_id = #{menuId}
	</select>

	<select id="selectMenuById" parameterType="long"
		resultType="menuSaveRequest">
		SELECT
		menu_id AS menuId,
		store_id AS storeId,
		menu_name AS menuName,
		menu_info AS menuInfo,
		menu_image AS menuImagePath,
		menu_price AS menuPrice,
		menu_category AS menuCategory,
		menu_carbon AS menuCarbon,
		menu_status AS menuStatus
		FROM menu_tbl
		WHERE menu_id = #{menuId}
	</select>

	<insert id="insertMenu" parameterType="menuSaveRequest">
		<selectKey keyProperty="menuId" resultType="long"
			order="BEFORE">
			SELECT menu_seq.NEXTVAL FROM dual
		</selectKey>
		INSERT INTO menu_tbl (
		menu_id, store_id, menu_name, menu_info, menu_price, menu_category,
		menu_image, menu_status, menu_carbon
		) VALUES (
		#{menuId}, #{storeId}, #{menuName}, #{menuInfo}, #{menuPrice}, #{menuCategory},
		#{menuImagePath}, 1, #{menuCarbon}
		)
	</insert>

	<select id="selectContainersByMenuId" parameterType="long"
		resultType="container">
		SELECT c.product_id AS productId,
		c.product_material AS productMaterial,
		c.product_emissions AS productEmissions,
		m.container_count AS containerCount
		FROM carbon_menu_map m
		JOIN carbon_definition_tbl c ON m.product_id = c.product_id
		WHERE m.menu_id = #{menuId}
	</select>

	<update id="updateMenu" parameterType="menuSaveRequest">
		UPDATE menu_tbl
		SET menu_name = #{menuName},
		menu_info = #{menuInfo},
		menu_price = #{menuPrice},
		menu_category = #{menuCategory},
		menu_carbon = #{menuCarbon}

		<if test="menuImagePath != null">
			, menu_image = #{menuImagePath}
		</if>

		WHERE menu_id = #{menuId}
		AND store_id = #{storeId}
	</update>

	<insert id="insertNewOption" parameterType="menuOption">
		<selectKey keyProperty="optionNo" resultType="long"
			order="BEFORE">
			SELECT option_seq.NEXTVAL FROM dual
		</selectKey>
		INSERT INTO option_tbl (
		option_no, option_type, option_name, option_price, option_carbon
		) VALUES (
		#{optionNo}, #{optionType}, #{optionName}, #{optionPrice}, #{optionCarbon}
		)
	</insert>

	<insert id="insertMenuOptionMap" parameterType="map">
		INSERT INTO menu_option_map (menu_id, option_no)
		VALUES (#{menuId}, #{optionNo})
	</insert>

	<insert id="insertContainerMap" parameterType="map">
		INSERT INTO carbon_menu_map (menu_id, product_id, container_count)
		VALUES (#{menuId}, #{productId}, #{count})
	</insert>

	<delete id="deleteMenuOptionMap" parameterType="long">
		DELETE
		FROM menu_option_map
		WHERE menu_id = #{menuId}
	</delete>

	<delete id="deleteContainerMap" parameterType="long">
		DELETE
		FROM carbon_menu_map
		WHERE menu_id = #{menuId}
	</delete>

	<update id="updateMenuStatus" parameterType="map">
		UPDATE menu_tbl
		SET menu_status = #{menuStatus}
		WHERE menu_id = #{menuId}
	</update>

	<delete id="deleteMenu" parameterType="long">
		DELETE FROM menu_tbl
		WHERE menu_id = #{menuId}
	</delete>
</mapper>
