<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.iei.member.model.dao.MemberDao">

	<select id="loginMember" resultType="member">
		SELECT
		m.*,
		(SELECT MIN(store_id) FROM
		store_tbl WHERE member_id =
		m.member_id) AS
		storeId
		FROM MEMBER_TBL m
		WHERE m.MEMBER_ID = #{memberId}

		<if test='!memberId.equals("admin123")'>
			AND m.MEMBER_GRADE = #{memberGrade}
		</if>
	</select>

	<select id="findId" resultType="string">
		SELECT MEMBER_ID
		FROM MEMBER_TBL
		WHERE MEMBER_NAME = #{memberName}
		AND MEMBER_EMAIL = #{memberEmail}
	</select>

	<update id="resetPassword">
		UPDATE MEMBER_TBL
		SET MEMBER_PW = #{memberPw}
		WHERE
		MEMBER_ID = #{memberId}
	</update>

	<select id="checkMember" resultType="int">
		SELECT COUNT(*)
		FROM
		MEMBER_TBL
		WHERE MEMBER_ID = #{memberId}
		AND MEMBER_EMAIL =
		#{memberEmail}
	</select>

	<select id="selectOneMember" resultType="member">
		select *
		from member_tbl
		where member_id = #{memberId}
	</select>

	<update id="updatePassword">
		UPDATE member_tbl
		SET member_pw = #{encodedNewPw}
		WHERE member_id = #{memberId}
	</update>

	<update id="updateProfile">
		UPDATE member_tbl
		SET
		member_name = #{memberName},
		member_phone =
		#{memberPhone}
		<if test="memberThumb != null">
			, member_thumb = #{memberThumb}
		</if>
		WHERE member_id = #{memberId}
	</update>

	<update id="updateStoreOwner">
		UPDATE store_tbl
		SET store_owner = #{memberName}
		WHERE
		member_id = #{memberId}
	</update>

	<select id="selectAllMember" resultType="member">
		SELECT *
		FROM member_tbl
	</select>

	<insert id="insertUser">
		INSERT INTO MEMBER_TBL (
		MEMBER_ID, MEMBER_PW,
		MEMBER_NAME, MEMBER_PHONE, MEMBER_THUMB,
		MEMBER_EMAIL, MEMBER_ADDRCODE,
		MEMBER_ADDR, MEMBER_DETAIL_ADDR,
		LATITUDE, LONGITUDE,
		MEMBER_GRADE,
		MEMBER_POINT,
		ENROLL_DATE, MEMBER_STATUS
		) VALUES (
		#{memberId},
		#{memberPw},
		#{memberName}, #{memberPhone}, NULL,
		#{memberEmail},
		#{memberAddrcode},
		#{memberAddr}, #{memberDetailAddr},
		#{latitude},
		#{longitude},
		1, default, SYSDATE, 1
		)
	</insert>

	<select id="storeDupCheck" parameterType="String"
		resultType="member">
		SELECT * FROM MEMBER_TBL WHERE STORE_OWNER_NO =
		#{storeOwnerNo}
	</select>

	<insert id="insertManager" parameterType="map">
		INSERT INTO MEMBER_TBL
		(
		MEMBER_ID,
		MEMBER_PW,
		MEMBER_NAME,
		MEMBER_PHONE,
		MEMBER_EMAIL,
		MEMBER_GRADE
		) VALUES (
		#{memberId},
		#{memberPw}, #{memberName},
		#{memberPhone},
		#{memberEmail},
		#{memberGrade} )
	</insert>

	<select id="emailDupCheck" resultType="member">
		select * from member_tbl
		where member_email=#{memberEmail}
	</select>

	<update id="deleteMember">
		update member_tbl
		set member_status = 2
		WHERE MEMBER_ID
		= #{memberId}
	</update>

	<select id="getTotalCarbonPoint" parameterType="string"
		resultType="Member">
		SELECT
		member_point,
		total_carbon_reduce
		FROM member_tbl
		WHERE
		member_id = #{memberId}
	</select>


	<select id="getCommunityTotalCarbon" resultType="double"> SELECT
		NVL(SUM(total_carbon_reduce), 0)
		FROM member_tbl
	</select>

	<update id="updateAddress" parameterType="member">
		UPDATE MEMBER_TBL
		SET
		MEMBER_ADDRCODE = #{memberAddrcode},
		MEMBER_ADDR = #{memberAddr},
		MEMBER_DETAIL_ADDR = #{memberDetailAddr},
		LATITUDE = #{latitude},
		LONGITUDE = #{longitude}
		WHERE MEMBER_ID = #{memberId}
	</update>

	<select id="checkActiveOrder" resultType="int">
		select count(*)
		from
		order_tbl
		where member_id = #{memberId}
		and order_status not in (0, 5,
		9)
	</select>

	<select id="checkOrderOwner" resultType="int">
		SELECT COUNT(*)
		FROM
		order_tbl
		WHERE order_id = #{orderId}
		AND member_id = #{memberId}
	</select>

	<select id="isAlreadyReviewed" resultType="int">
		SELECT COUNT(*)
		FROM
		review_tbl
		WHERE order_id = #{orderId}
	</select>

	<insert id="insertReview"
		parameterType="kr.co.iei.member.model.vo.Review">
		INSERT INTO review_tbl (order_id, member_id,
		review_thumb, review_content,
		review_rating,
		review_date,
		store_id)
		VALUES (#{orderId},
		#{memberId},
		#{reviewThumb, jdbcType=VARCHAR},
		#{reviewContent},
		#{reviewRating},
		SYSDATE,
		#{storeId})
	</insert>

	<update id="updateReviewStatus">
		UPDATE order_tbl
		SET review_status = 1
		WHERE order_id =
		#{orderId}
	</update>

	<select id="selectReviewList" resultType="Review">
		SELECT
		r.order_id AS orderId,
		o.review_status AS reviewStatus,
		r.review_content AS reviewContent,
		r.review_rating AS reviewRating,
		r.review_thumb AS reviewThumb,
		rc.review_comment_content AS reviewCommentContent,
		TO_CHAR(rc.review_comment_date, 'YYYY-MM-DD HH24:MI') AS reviewCommentDate,
		TO_CHAR(r.review_date, 'YYYY-MM-DD HH24:MI') AS reviewDate,
		r.member_id AS memberId,
		m.member_thumb AS memberProfile,
		s.store_name AS storeName,

		(
		SELECT SUM(price * quantity)
		FROM order_detail
		WHERE order_id = r.order_id
		) AS totalPrice,

		CASE
		WHEN o.delivery_type = 1 THEN 0
		WHEN o.delivery_type = 2 THEN 1000
		ELSE 3000
		END AS deliveryPrice,

		(
		SELECT m2.menu_name
		FROM order_detail od
		JOIN menu_tbl m2 ON od.menu_id = m2.menu_id
		WHERE od.order_id = r.order_id
		AND ROWNUM = 1
		) AS menuName,

		(
		SELECT COUNT(*) - 1
		FROM order_detail
		WHERE order_id = r.order_id
		) AS extraCount

		FROM review_tbl r
		JOIN order_tbl o ON r.order_id = o.order_id
		JOIN store_tbl s ON r.store_id = s.store_id
		JOIN member_tbl m ON r.member_id = m.member_id
		LEFT JOIN review_comment_tbl rc ON r.order_id = rc.order_id
		WHERE r.member_id = #{memberId}
		ORDER BY r.review_date DESC
	</select>

	<delete id="deleteReview">
		DELETE
		FROM review_tbl
		WHERE order_id = #{orderId}
	</delete>

	<select id="selectPointHistory" parameterType="string"
		resultType="pointHistory">
		SELECT o.order_id AS orderId,
		s.store_name AS storeName,
		TO_CHAR(m.reg_date, 'YYYY-MM-DD') AS orderDate,
		o.get_point AS
		getPoint,
		o.point_reward AS pointReward,
		o.order_status,
		o.used_point AS
		usedPoint
		FROM order_tbl o
		JOIN
		order_list_map m ON o.order_id =
		m.order_id
		JOIN store_tbl s ON
		o.store_id = s.store_id
		WHERE o.member_id
		= #{memberId}
		AND
		o.order_status > 0
		AND m.reg_date
		>= ADD_MONTHS(SYSDATE,
		-3)
		AND
		(o.get_point > 0 OR o.used_point > 0)
		ORDER BY m.reg_date DESC
	</select>

	<select id="getEnrollDate" parameterType="String"
		resultType="String">
		SELECT TO_CHAR(enroll_date, 'YYYY-MM-DD')
		FROM member_tbl
		WHERE member_id = #{memberId}
	</select>

	<select id="getPointByMemberId" parameterType="string"
		resultType="int">
		SELECT
		member_point
		FROM
		member_tbl
		WHERE
		member_id =
		#{memberId}
	</select>

	<select id="checkEasterEgg" resultType="int">
		SELECT COUNT(*) FROM EASTER_EGG
		WHERE MEMBER_ID = #{memberId} AND EGG_NAME = #{eggName}
	</select>

	<update id="addMemberPoint">
		UPDATE MEMBER_tbl SET member_point = member_point + #{reward}
		WHERE MEMBER_ID = #{memberId}
	</update>

	<insert id="insertEasterEgg">
		INSERT INTO EASTER_EGG (EGG_ID, MEMBER_ID, EGG_NAME, REWARD_POINTS)
		VALUES (SEQ_EASTER_EGG.NEXTVAL, #{memberId}, #{eggName}, #{reward})
	</insert>
</mapper>