<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="kr.co.iei.notification.model.dao.NotificationDao">

	<insert id="insertNotification"
		parameterType="kr.co.iei.notification.model.vo.Notification">
		<selectKey keyProperty="notiId" resultType="int"
			order="BEFORE">
			SELECT SEQ_NOTI_ID.NEXTVAL FROM DUAL
		</selectKey>

		INSERT INTO NOTIFICATION_tbl (
		NOTI_ID, RECEIVER_ID, NOTI_TYPE,
		MESSAGE, NAV_URL
		) VALUES (
		#{notiId}, #{receiverId}, #{notiType},
		#{message}, #{navUrl}
		)
	</insert>

	<select id="selectUnreadNotifications"
		resultType="kr.co.iei.notification.model.vo.Notification">
		SELECT
		NOTI_ID as notiId,
		RECEIVER_ID as receiverId,
		NOTI_TYPE as notiType,
		MESSAGE as message,
		NAV_URL as navUrl,
		IS_READ as
		isRead,
		CREATED_AT as createdAt
		FROM NOTIFICATION_tbl
		WHERE RECEIVER_ID =
		#{receiverId}
		AND IS_READ = 'N'
		ORDER BY CREATED_AT DESC
	</select>

	<update id="updateReadStatus" parameterType="int">
		UPDATE
		NOTIFICATION_tbl
		SET IS_READ = 'Y'
		WHERE NOTI_ID = #{notiId}
	</update>

	<update id="updateAllReadStatus" parameterType="String">
		UPDATE
		NOTIFICATION_tbl
		SET IS_READ = 'Y'
		WHERE RECEIVER_ID = #{receiverId}
		AND
		IS_READ = 'N'
	</update>

	
</mapper>