<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.iei.store.model.dao.StoreDao">

	<select id="selectAllStore">
		SELECT s.*,
		(SELECT NVL(AVG(review_rating), 0)
		FROM
		review_tbl r
		WHERE r.store_id = s.store_id) AS storeRating,
		(SELECT
		COUNT(*)
		FROM review_tbl r
		WHERE r.store_id = s.store_id) AS reviewCount
		FROM store_tbl s
		WHERE EXISTS (
		SELECT 1
		FROM menu_tbl m
		WHERE m.store_id
		= s.store_id
		)
		ORDER BY storeRating DESC, store_id
	</select>

	<select id="findStoreById" parameterType="int"
		resultType="store">
		SELECT store_id AS storeId,
		member_id AS memberId,
		store_name AS storeName,
		store_address AS storeAddress,
		store_phone AS
		storePhone,
		store_intro AS storeIntro,
		store_owner AS storeOwner,
		store_owner_address AS storeOwnerAddress,
		store_origin_info AS
		storeOriginInfo,
		store_owner_no AS storeOwnerNo,
		store_category AS
		storeCategory,
		(SELECT NVL(AVG(review_rating), 0)
		FROM review_tbl r
		WHERE r.store_id = s.store_id) AS storeRating,
		latitude AS LATITUDE,
		longitude AS LONGITUDE,
		store_thumb AS storeThumb,
		TO_CHAR(opening_date, 'YYYY-MM-DD') AS openingDate
		FROM STORE_TBL s
		WHERE store_id = #{storeId}
	</select>

	<select id="findStoreByMemberId" resultType="store">
		select store_id
		from
		store_tbl
		where member_id = (select member_id
		from member_tbl
		where
		member_id = #{memberId})
	</select>

	<select id="selectAllMenu" resultType="menu">
		SELECT menu_id,
		store_id,
		menu_name,
		menu_carbon,
		menu_price,
		menu_category,
		menu_image,
		menu_info,
		menu_status
		FROM MENU_TBL
		WHERE store_id = #{storeId}
		ORDER BY
		menu_category ASC, menu_id ASC
	</select>

	<select id="getMenuOptions" parameterType="long"
		resultType="menuOption">
		SELECT o.option_no,
		o.option_type,
		o.option_name,
		o.option_price,
		o.option_carbon
		FROM OPTION_TBL o
		JOIN MENU_OPTION_MAP
		mom ON o.option_no
		= mom.option_no
		WHERE mom.menu_id = #{menuId}
		ORDER BY
		o.option_type
		ASC, o.option_no ASC
	</select>

	<insert id="insertOrder" parameterType="order">
		<selectKey keyProperty="orderId" resultType="int"
			order="BEFORE">
			SELECT order_seq.NEXTVAL FROM DUAL
		</selectKey>

		INSERT INTO order_tbl (
		order_id,
		member_id,
		store_id,
		used_point,
		get_point,
		order_status,
		delivery_type,
		delivery_address
		) VALUES (
		#{orderId},
		#{memberId},
		#{storeId},
		#{usedPoint},
		#{getPoint},
		0,
		#{deliveryType},
		#{deliveryAddress}
		)
	</insert>

	<update id="updatePoint">
		UPDATE member_tbl m
		SET m.member_point = m.member_point + (
		SELECT o.get_point
		FROM order_tbl o
		WHERE o.order_id = #{orderId}
		AND o.member_id = m.member_id
		AND o.point_reward = 0
		)
		WHERE EXISTS (
		SELECT 1
		FROM order_tbl o
		WHERE o.order_id = #{orderId}
		AND o.member_id = m.member_id
		AND o.point_reward = 0
		)
	</update>

	<update id="addReduceCarbon">
		UPDATE member_tbl
		SET total_carbon_reduce =
		NVL(total_carbon_reduce, 0) + (SELECT NVL(get_point, 0) / 1000
		FROM
		order_tbl
		WHERE order_id = #{orderId})
		WHERE member_id = (SELECT
		member_id
		FROM order_tbl
		WHERE order_id = #{orderId})
	</update>

	<insert id="insertOrderDetail">
		INSERT INTO order_detail (order_detail_id,
		order_id,
		menu_id,
		price,
		option_string,
		total_carbon,
		quantity)
		SELECT
		ORDER_DETAIL_SEQ.NEXTVAL,
		#{orderId},
		m.menu_id,
		#{orderItem.price},
		#{orderItem.optionString, jdbcType=VARCHAR},
		m.menu_carbon,
		#{orderItem.quantity}
		FROM menu_tbl m
		WHERE m.menu_id =
		#{orderItem.menuId}
	</insert>

	<insert id="insertOrderHistory">
		INSERT INTO order_list_map (order_id, member_id)
		VALUES (#{orderId}, #{memberId})
	</insert>

	<update id="updateOrderStatus">
		update order_tbl
		set order_status = 1
		where order_id =
		#{orderId}
	</update>

	<select id="searchOrderItems" parameterType="int"
		resultType="orderItem">
		SELECT od.menu_id AS menuId,
		m.menu_name AS menuName,
		m.menu_image AS menuImage,
		od.quantity,
		od.price,
		od.option_string AS
		optionString,
		CASE
		WHEN o.delivery_type = 1 THEN 0
		WHEN o.delivery_type =
		2 THEN 1000
		WHEN o.delivery_type = 3 THEN 3000
		ELSE 0
		END AS deliveryFee
		FROM order_detail
		od
		JOIN order_tbl o
		ON od.order_id
		= o.order_id
		JOIN
		menu_tbl m
		ON od.menu_id =
		m.menu_id
		WHERE od.order_id =
		#{orderId}
		ORDER
		BY od.order_detail_id
	</select>

	<select id="searchOrderInfo" parameterType="int"
		resultType="orderResponse">
		SELECT s.store_name AS storeName,
		s.store_thumb AS
		storeThumb,
		s.store_id,
		o.member_id AS memberId,
		o.order_id AS orderId,
		o.used_point AS usedPoint,
		m.total_carbon_reduce AS totalReduceCarbon,
		o.get_point AS getPoint,
		o.delivery_address AS deliveryAddress,
		o.expected_time AS expectedTime,
		TO_CHAR(o.confirm_date, 'YYYY-MM-DD
		HH24:MI:SS') AS confirmDate,
		TO_CHAR(o.complete_date, 'YYYY-MM-DD
		HH24:MI') AS completeDate,
		CASE
		WHEN
		o.delivery_type = 1 THEN 0
		WHEN
		o.delivery_type = 2 THEN 1000
		ELSE
		3000
		END AS deliveryPrice,
		o.delivery_type AS deliveryType,
		o.order_status AS
		orderStatus,
		TO_CHAR(olm.reg_date, 'YYYY-MM-DD
		HH24:MI') AS orderDate
		FROM order_tbl
		o
		JOIN store_tbl s ON o.store_id =
		s.store_id
		JOIN member_tbl m ON
		o.member_id = m.member_id
		JOIN
		order_list_map olm ON o.order_id =
		olm.order_id
		WHERE o.order_id =
		#{orderId}
	</select>

	<select id="searchOrdersByMemberId"
		resultType="OrderListResponse">
		select *
		from order_tbl
		where member_id = #{memberId}
	</select>

	<select id="searchOrderList" parameterType="string"
		resultType="orderResponse">
		SELECT o.order_id AS orderId,
		o.store_id AS storeId,
		s.store_name AS storeName,
		s.store_thumb AS storeThumb,
		o.order_status
		AS orderStatus,
		o.get_point AS getPoint,
		o.review_status AS
		reviewStatus,
		TO_CHAR(olm.reg_date, 'YYYY-MM-DD HH24:MI') AS orderDate,

		-- 1. 합계 정보
		od_sum.totalPrice AS
		totalPrice,
		od_sum.totalCount AS
		totalCount,
		od_sum.orderCarbon AS
		orderCarbon,
		(od_sum.totalCount - 1) AS
		extraCount,

		-- 2. 대표 메뉴 정보
		md.menu_name AS menuName,
		md.menu_image AS
		menuImage,

		-- 3. 배달 및 주소 정보
		o.delivery_type AS deliveryType,
		CASE
		WHEN
		o.delivery_type = 1 THEN 0
		WHEN o.delivery_type = 2 THEN 1000
		ELSE 3000
		END AS deliveryPrice,
		s.store_address AS storeAddress,
		o.delivery_Address AS deliveryAddress

		FROM order_tbl o
		JOIN store_tbl s
		ON o.store_id =
		s.store_id
		JOIN
		order_list_map olm ON o.order_id =
		olm.order_id
		JOIN
		member_tbl m ON
		o.member_id = m.member_id

		-- 상세 합산 서브쿼리
		JOIN (SELECT
		order_id,
		SUM(quantity) AS totalCount,
		SUM(price * quantity)
		AS
		totalPrice,
		SUM(total_carbon * quantity) AS orderCarbon
		FROM
		order_detail
		GROUP BY order_id) od_sum ON o.order_id = od_sum.order_id

		-- 대표 메뉴 서브쿼리
		JOIN (SELECT od1.*
		FROM order_detail od1
		JOIN (SELECT
		order_id,
		MIN(order_detail_id) AS min_detail_id
		FROM order_detail
		GROUP
		BY order_id) x ON od1.order_id = x.order_id AND od1.order_detail_id =
		x.min_detail_id) od_first
		ON o.order_id = od_first.order_id

		JOIN
		menu_tbl md ON od_first.menu_id = md.menu_id

		WHERE o.member_id =
		#{memberId}
		and o.order_status > 0
		ORDER BY o.order_id DESC
	</select>

	<insert id="insertReviewComment" parameterType="map">
		INSERT INTO
		review_comment_tbl (order_id,
		store_id,
		member_id,
		review_comment_content,
		review_comment_date)
		VALUES (#{orderId},
		#{storeId},
		#{memberId},
		#{reviewCommentContent},
		SYSDATE)
	</insert>

	<select id="selectStoreReviews" parameterType="int"
		resultType="storeReviewResponse">
		SELECT r.order_id AS orderId,
		r.review_rating AS
		reviewRating,
		TO_CHAR(r.review_date, 'YYYY-MM-DD HH24:MI') AS
		reviewDate,
		r.review_content AS reviewContent,
		r.review_thumb AS
		reviewThumb,
		m.member_id AS memberId,
		m.member_thumb AS memberProfile,

		rc.review_comment_content AS
		reviewCommentContent,
		TO_CHAR(rc.review_comment_date, 'YYYY-MM-DD
		HH24:MI') AS
		reviewCommentDate,

		(SELECT md.menu_name
		FROM order_detail od
		JOIN
		menu_tbl md ON od.menu_id =
		md.menu_id
		WHERE od.order_id = r.order_id
		AND ROWNUM =
		1) AS menuName

		FROM review_tbl r
		JOIN member_tbl m ON
		r.member_id =
		m.member_id
		LEFT JOIN review_comment_tbl rc ON r.order_id
		= rc.order_id
		WHERE r.store_id
		= #{storeId}
		ORDER BY r.review_date DESC
	</select>

	<select id="getOrdersByStoreId" parameterType="int"
		resultType="orderResponse">
		SELECT o.order_id AS orderId,
		o.store_id AS storeId,
		s.store_name AS storeName,
		s.store_thumb AS storeThumb,
		o.order_status
		AS orderStatus,
		m.member_phone AS memberPhone,
		o.delivery_address AS
		deliveryAddress,
		o.get_point AS
		getPoint,
		o.review_status AS
		reviewStatus,
		TO_CHAR(olm.reg_date,
		'YYYY-MM-DD HH24:MI') AS orderDate,

		od_sum.totalPrice AS totalPrice,
		od_sum.totalCount AS totalCount,
		od_sum.orderCarbon AS orderCarbon,
		(od_sum.totalCount - 1) AS
		extraCount,

		md.menu_name AS menuName,
		md.menu_image AS menuImage,

		o.delivery_type AS deliveryType,
		CASE
		WHEN
		o.delivery_type = 1 THEN 0
		WHEN o.delivery_type = 2 THEN 1000
		ELSE 3000
		END AS deliveryPrice,
		s.store_address AS storeAddress,
		m.member_addr AS
		deliveryAddress

		FROM
		order_tbl o
		JOIN store_tbl s ON o.store_id =
		s.store_id
		JOIN
		order_list_map olm ON o.order_id = olm.order_id
		JOIN
		member_tbl m ON
		o.member_id = m.member_id

		JOIN (SELECT order_id,
		SUM(quantity) AS
		totalCount,
		SUM(price * quantity) AS totalPrice,
		SUM(total_carbon *
		quantity) AS orderCarbon
		FROM order_detail
		GROUP BY
		order_id) od_sum ON
		o.order_id = od_sum.order_id

		JOIN (SELECT od1.*
		FROM
		order_detail od1
		JOIN (SELECT order_id,
		MIN(order_detail_id) AS
		min_detail_id
		FROM
		order_detail
		GROUP BY order_id) x ON od1.order_id =
		x.order_id AND
		od1.order_detail_id =
		x.min_detail_id) od_first ON
		o.order_id =
		od_first.order_id

		JOIN menu_tbl md ON od_first.menu_id =
		md.menu_id

		WHERE o.store_id = #{storeId}
		AND o.order_status > 0
		ORDER BY
		o.order_id
		DESC
	</select>

	<update id="changeOrderStatus">
		UPDATE order_tbl
		SET
		order_status = #{status}
		<if test="status == 2">
			, confirm_date = SYSDATE
		</if>
		<if test="status == 5">, complete_date = SYSDATE</if>
		<if test="expectedTime != null">, expected_time = #{expectedTime}</if>
		WHERE order_id = #{orderId}
	</update>

	<select id="getMenuImageById" parameterType="int"
		resultType="string">
		SELECT menu_image
		FROM menu_tbl
		WHERE menu_id =
		#{menuId}
	</select>

	<select id="selectStoreId" resultType="storeIdResponse">
		SELECT store_id
		FROM
		store_tbl
		WHERE member_id = #{memberId}
	</select>

	<select id="selectStatsOrderInfo" resultType="statsOrderInfo">
		SELECT
		deliveryType,
		SUM(orderTotal) AS seriesAmount,
		COUNT(order_id) AS
		orderCount
		FROM (
		/* 주문(order_id)별로 각각 계산 */
		SELECT
		o.order_id,
		o.DELIVERY_TYPE AS deliveryType,
		/* 해당 주문의 (메뉴 총합) + (배달비 1번) */
		(SELECT SUM(od.PRICE * od.QUANTITY)
		FROM order_detail od
		WHERE
		od.order_id = o.order_id) +
		CASE
		WHEN o.DELIVERY_TYPE = 1 THEN 0
		WHEN
		o.DELIVERY_TYPE = 2 THEN 1000
		WHEN o.DELIVERY_TYPE = 3 THEN 3000
		ELSE 0
		END AS orderTotal
		FROM order_list_map m
		JOIN order_tbl o ON m.order_id =
		o.order_id
		WHERE
		o.store_id = #{storeId}
		AND o.order_status = 5
		AND
		TO_CHAR(m.reg_date, 'YYYY-MM') = #{yearMonth}
		GROUP BY o.order_id,
		o.DELIVERY_TYPE
		)
		GROUP BY deliveryType
		ORDER BY deliveryType ASC
	</select>

	<update id="deductMemberPoint">
		UPDATE member_tbl
		SET member_point = member_point -
		#{usedPoint}
		WHERE member_id = #{memberId}
		AND member_point >=
		#{usedPoint} /*잔액이 쓰는 포인트보다 많을 때만 수행 */
	</update>

	<select id="selectStoreReviewStats" resultType="map">
		SELECT
		NVL(AVG(review_rating), 0) AS "avgRating",
		COUNT(*) AS "totalCount",
		COUNT(CASE WHEN review_rating = 5 THEN 1 END) AS "star5",
		COUNT(CASE
		WHEN review_rating = 4 THEN 1 END) AS "star4",
		COUNT(CASE
		WHEN
		review_rating = 3 THEN 1 END) AS "star3",
		COUNT(CASE
		WHEN review_rating
		= 2 THEN 1 END) AS "star2",
		COUNT(CASE
		WHEN review_rating = 1 THEN 1
		END) AS "star1"
		FROM review_tbl
		WHERE store_id = #{storeId}
	</select>

	<select id="selectMonthlySalesByStoreId" parameterType="Integer"
		resultType="SaleMonth">
		select to_char(olm.reg_date, 'yyyy-mm') as sale_month,
		sum(od.price * od.quantity) as total_sales
		from order_detail od
		join
		order_tbl o on od.order_id = o.order_id
		join order_list_map olm on
		o.order_id = olm.order_id
		where o.store_id = #{storeId}
		AND
		o.order_status = 5
		group by
		to_char(olm.reg_date, 'yyyy-mm')
		order by
		sale_month
	</select>

	<select id="selectTotalSales" resultType="Long">
		select sum(price *
		quantity)
		from order_detail
		where order_id in (select order_id
		from
		order_tbl
		where store_id = #{storeId}
		AND order_status = 5)
	</select>

	<update id="rollbackPoint" parameterType="int">
		UPDATE member_tbl m
		SET
		(member_point, total_carbon_reduce) = (
		SELECT
		/* 1. 사용한 포인트는 무조건 복구 +
		보상받은 포인트가 있다면 회수 */
		m.member_point + o.used_point - (CASE WHEN
		o.point_reward = 1 THEN o.get_point ELSE
		0 END),

		/* 2. 탄소 절감량도 보상받은 적이
		있을 때만 회수 (음수 방지) */
		GREATEST(m.total_carbon_reduce - (CASE WHEN
		o.point_reward = 1 THEN (o.get_point / 1000.0) ELSE 0
		END), 0)
		FROM
		order_tbl o
		WHERE o.member_id = m.member_id
		AND o.order_id = #{orderId}
		)
		WHERE EXISTS (
		SELECT 1
		FROM order_tbl o
		WHERE o.member_id = m.member_id
		AND o.order_id = #{orderId}
		/* 상태가 취소(9)로 변할 때 실행되도록 서비스 로직에서 관리 */
		)
	</update>

	<select id="getMemberIdByOrderId" resultType="string">
		SELECT member_id
		FROM order_tbl
		WHERE order_id = #{orderId}
	</select>

	<update id="cancelOrder" parameterType="int">
		UPDATE order_tbl
		SET
		order_status = 9
		WHERE order_id = #{orderId}
	</update>

	<select id="getStoreOperatingHours" parameterType="int"
		resultType="operating">
		SELECT day_of_week AS dayOfWeek,
		open_time AS openTime,
		close_time AS closeTime,
		is_day_off AS isDayOff,
		week_of_month AS
		weekOfMonth
		FROM operating_hours_tbl
		WHERE store_id = #{storeId}
		ORDER BY
		DECODE(UPPER(day_of_week), 'MON', 1, 'TUE', 2, 'WED', 3, 'THU', 4,
		'FRI',
		5,
		'SAT', 6, 'SUN', 7)
	</select>




	<insert id="insertStore" parameterType="map">
		INSERT INTO STORE_TBL (
		STORE_ID, MEMBER_ID, STORE_NAME, STORE_OWNER ) VALUES (
		STORE_SEQ.NEXTVAL, #{memberId},
		#{storeName},
		#{storeOwner}
		)
	</insert>

	<!-- 가게 정보 수정 -->
	<update id="updateStore" parameterType="storeSaveRequest">
		UPDATE STORE_TBL
		SET
		STORE_NAME = #{storeName},
		STORE_INTRO =
		#{storeIntro},
		STORE_PHONE =
		#{storePhone},
		STORE_OWNER_NO =
		#{storeOwnerNo},
		STORE_ORIGIN_INFO =
		#{storeOriginInfo},
		STORE_OWNER_ADDRESS = #{storeOwnerAddress},
		STORE_CATEGORY =
		#{storeCategory},
		STORE_ADDRESS = #{storeAddress},
		LATITUDE =
		#{latitude},
		LONGITUDE = #{longitude}
		<if test="storeThumb != null and storeThumb != ''">
			, STORE_THUMB = #{storeThumb}
		</if>
		WHERE STORE_ID =
		#{storeId}
	</update>

	<delete id="deleteOperatingHours"
		parameterType="java.lang.Integer">
		DELETE
		FROM OPERATING_HOURS_TBL
		WHERE STORE_ID =
		#{storeId}
	</delete>

	<insert id="insertOperatingHours" parameterType="operatingHours">
		INSERT INTO
		OPERATING_HOURS_TBL (HOUR_ID,
		STORE_ID,
		DAY_OF_WEEK,
		OPEN_TIME,
		CLOSE_TIME,
		IS_DAY_OFF,
		WEEK_OF_MONTH)
		VALUES
		(OPERATING_HOURS_SEQ.NEXTVAL,
		#{storeId},
		#{dayOfWeek},
		#{openTime},
		#{closeTime},
		#{isDayOff},
		#{weekOfMonth})
	</insert>

	<update id="pointReward">
		update order_tbl
		set point_reward = 1
		where order_id
		=
		#{orderId}
	</update>

	<select id="getStoreLocation" resultType="Store">
		select
		store_name,
		latitude,
		longitude
		from store_tbl
		where store_id = #{storeId}
	</select>

</mapper>
